# import libraries and data

In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv('D:\\Datasets\\Housingdata.csv')
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,313000,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2384000,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,342000,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,420000,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,550000,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,625000,4,2.75,2920,6605,2.0,0,0,3,2920,0,2012,1912,5608 NE 5th Cir,Renton,WA 98059,USA
65,553000,2,1.00,900,5000,1.0,0,0,3,900,0,1944,0,8053 29th Ave NW,Seattle,WA 98117,USA
66,379880,3,2.50,1650,14054,1.0,0,0,4,1130,520,1986,0,13256 242nd Pl SE,Issaquah,WA 98027,USA
67,310000,3,1.00,1010,9945,1.0,0,0,4,1010,0,1973,0,7528 N Fork Rd SE,Snoqualmie,WA 98065,USA
68,775000,2,2.50,2680,7392,1.0,0,0,3,2680,0,2004,2003,13134 234th Ct NE,Redmond,WA 98053,USA

In [2]:
x=df.iloc[:,1:6]
x
y=df.iloc[:,0:1]
print(x,y)

    bedrooms  bathrooms  sqft_living  sqft_lot  floors
0          3       1.50         1340      7912     1.5
1          5       2.50         3650      9050     2.0
2          3       2.00         1930     11947     1.0
3          3       2.25         2000      8030     1.0
4          4       2.50         1940     10500     1.0
..       ...        ...          ...       ...     ...
64         4       2.75         2920      6605     2.0
65         2       1.00          900      5000     1.0
66         3       2.50         1650     14054     1.0
67         3       1.00         1010      9945     1.0
68         2       2.50         2680      7392     1.0

[69 rows x 5 columns]       price
0    313000
1   2384000
2    342000
3    420000
4    550000
..      ...
64   625000
65   553000
66   379880
67   310000
68   775000

[69 rows x 1 columns]

# Split data and fit model

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor


x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80,test_size=0.20,random_state=2018)

knn=KNeighborsRegressor(n_neighbors=5)

knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
y_pred

array([[631190.],
       [333000.],
       [555500.],
       [499900.],
       [481890.],
       [564300.],
       [398076.],
       [388000.],
       [490600.],
       [499900.],
       [931800.],
       [549700.],
       [549700.],
       [440330.]])

# Mean Sq Error

In [4]:
from sklearn.metrics import mean_squared_error
import numpy as np
l=len(df)
t=[]
for i in range(1,l-2):
    knn=KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_train,y_train)
   # y_pred=knn.predict(x_test)
    MSE=np.sqrt(mean_squared_error(y_test,y_pred))
    t.append(float(MSE))
    print("MSE when k is "+str(i)+"=", MSE)

MSE when k is 1= 175314.5634028812
MSE when k is 2= 175314.5634028812
MSE when k is 3= 175314.5634028812
MSE when k is 4= 175314.5634028812
MSE when k is 5= 175314.5634028812
MSE when k is 6= 175314.5634028812
MSE when k is 7= 175314.5634028812
MSE when k is 8= 175314.5634028812
MSE when k is 9= 175314.5634028812
MSE when k is 10= 175314.5634028812
MSE when k is 11= 175314.5634028812
MSE when k is 12= 175314.5634028812
MSE when k is 13= 175314.5634028812
MSE when k is 14= 175314.5634028812
MSE when k is 15= 175314.5634028812
MSE when k is 16= 175314.5634028812
MSE when k is 17= 175314.5634028812
MSE when k is 18= 175314.5634028812
MSE when k is 19= 175314.5634028812
MSE when k is 20= 175314.5634028812
MSE when k is 21= 175314.5634028812
MSE when k is 22= 175314.5634028812
MSE when k is 23= 175314.5634028812
MSE when k is 24= 175314.5634028812
MSE when k is 25= 175314.5634028812
MSE when k is 26= 175314.5634028812
MSE when k is 27= 175314.5634028812
MSE when k is 28= 175314.5634028812
MSE when k is 29= 175314.5634028812
MSE when k is 30= 175314.5634028812
MSE when k is 31= 175314.5634028812
MSE when k is 32= 175314.5634028812
MSE when k is 33= 175314.5634028812
MSE when k is 34= 175314.5634028812
MSE when k is 35= 175314.5634028812
MSE when k is 36= 175314.5634028812
MSE when k is 37= 175314.5634028812
MSE when k is 38= 175314.5634028812
MSE when k is 39= 175314.5634028812
MSE when k is 40= 175314.5634028812
MSE when k is 41= 175314.5634028812
MSE when k is 42= 175314.5634028812
MSE when k is 43= 175314.5634028812
MSE when k is 44= 175314.5634028812
MSE when k is 45= 175314.5634028812
MSE when k is 46= 175314.5634028812
MSE when k is 47= 175314.5634028812
MSE when k is 48= 175314.5634028812
MSE when k is 49= 175314.5634028812
MSE when k is 50= 175314.5634028812
MSE when k is 51= 175314.5634028812
MSE when k is 52= 175314.5634028812
MSE when k is 53= 175314.5634028812
MSE when k is 54= 175314.5634028812
MSE when k is 55= 175314.5634028812
MSE when k is 56= 175314.5634028812
MSE when k is 57= 175314.5634028812
MSE when k is 58= 175314.5634028812
MSE when k is 59= 175314.5634028812
MSE when k is 60= 175314.5634028812
MSE when k is 61= 175314.5634028812
MSE when k is 62= 175314.5634028812
MSE when k is 63= 175314.5634028812
MSE when k is 64= 175314.5634028812
MSE when k is 65= 175314.5634028812
MSE when k is 66= 175314.5634028812

# Root Mean Square Error

In [6]:
from sklearn.metrics import mean_squared_error
import math

for i in range(1,len(df)-2):
    knn=KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    MSE=np.sqrt(mean_squared_error(y_test,y_pred))

    RMSE=math.sqrt(MSE)
    print("RMSE when k is "+str(i)+"=", RMSE)

RMSE when k is 1= 518.0995682041064
RMSE when k is 2= 424.14057524377466
RMSE when k is 3= 394.1403539927637
RMSE when k is 4= 381.6038625985856
RMSE when k is 5= 418.7058196429579
RMSE when k is 6= 440.90549181667666
RMSE when k is 7= 457.32278960975236
RMSE when k is 8= 464.29173406851055
RMSE when k is 9= 476.0537750628765
RMSE when k is 10= 483.06861577681696
RMSE when k is 11= 475.9426871154009
RMSE when k is 12= 478.6168663272256
RMSE when k is 13= 481.18463993557725
RMSE when k is 14= 484.4983560684015
RMSE when k is 15= 485.13012643065423
RMSE when k is 16= 477.4411175134451
RMSE when k is 17= 485.9019662752535
RMSE when k is 18= 502.9904692476255
RMSE when k is 19= 506.6424343503445
RMSE when k is 20= 508.0444282578748
RMSE when k is 21= 509.64755808596254
RMSE when k is 22= 508.8815128714271
RMSE when k is 23= 509.0584940809933
RMSE when k is 24= 505.6654962857477
RMSE when k is 25= 497.15800798179674
RMSE when k is 26= 500.8579249368516
RMSE when k is 27= 502.1109898607428
RMSE when k is 28= 500.29750283991757
RMSE when k is 29= 503.83989674711955
RMSE when k is 30= 504.82475481014035
RMSE when k is 31= 510.6706424480079
RMSE when k is 32= 509.44400976256327
RMSE when k is 33= 510.7240029311107
RMSE when k is 34= 507.4262734166271
RMSE when k is 35= 505.7745673765061
RMSE when k is 36= 506.5310629700908
RMSE when k is 37= 505.24452906071434
RMSE when k is 38= 505.13612336438047
RMSE when k is 39= 505.59603461893784
RMSE when k is 40= 500.92214223173124
RMSE when k is 41= 503.42119659348805
RMSE when k is 42= 505.49358535957253
RMSE when k is 43= 506.4383576905472
RMSE when k is 44= 505.9830133381049
RMSE when k is 45= 507.4287177697558
RMSE when k is 46= 507.0759938895457
RMSE when k is 47= 506.7397704110198
RMSE when k is 48= 505.7186638770594
RMSE when k is 49= 504.41645906194213
RMSE when k is 50= 504.65584615550546
RMSE when k is 51= 504.72620149724906
RMSE when k is 52= 504.5379491651576
RMSE when k is 53= 505.02612374207916
RMSE when k is 54= 505.0695979723172
RMSE when k is 55= 505.0918961407418

ValueError: Expected n_neighbors <= n_samples,  but n_samples = 55, n_neighbors = 56

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

df=pd.read_csv("D:\\Datasets\\Salary_data.csv")
df

X=df.iloc[:, 0].values.reshape(-1,1)
Y=df.iloc[:, 1].values.reshape(-1,1)
print(X,Y)

linear_regression=LinearRegression()
linear_regression.fit(X,Y)
y_pred= linear_regression.predict(X)

plt.scatter(x,y)
plt.plot(x,y_pred,color='r')
plt.show()