In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("D:\\Datasets\\Fruits color datasets.csv")
df

    fruit_label fruit_name     fruit_subtype  mass  width  height  color_score
0             1      apple      granny_smith   192    8.4     7.3         0.55
1             1      apple      granny_smith   180    8.0     6.8         0.59
2             1      apple      granny_smith   176    7.4     7.2         0.60
3             2   mandarin          mandarin    86    6.2     4.7         0.80
4             2   mandarin          mandarin    84    6.0     4.6         0.79
5             2   mandarin          mandarin    80    5.8     4.3         0.77
6             2   mandarin          mandarin    80    5.9     4.3         0.81
7             2   mandarin          mandarin    76    5.8     4.0         0.81
8             1      apple          braeburn   178    7.1     7.8         0.92
9             1      apple          braeburn   172    7.4     7.0         0.89
10            1      apple          braeburn   166    6.9     7.3         0.93
11            1      apple          braeburn   172    7.1     7.6         0.92
12            1      apple          braeburn   154    7.0     7.1         0.88
13            1      apple  golden_delicious   164    7.3     7.7         0.70
14            1      apple  golden_delicious   152    7.6     7.3         0.69
15            1      apple  golden_delicious   156    7.7     7.1         0.69
16            1      apple  golden_delicious   156    7.6     7.5         0.67
17            1      apple  golden_delicious   168    7.5     7.6         0.73
18            1      apple       cripps_pink   162    7.5     7.1         0.83
19            1      apple       cripps_pink   162    7.4     7.2         0.85
20            1      apple       cripps_pink   160    7.5     7.5         0.86
21            1      apple       cripps_pink   156    7.4     7.4         0.84
22            1      apple       cripps_pink   140    7.3     7.1         0.87
23            1      apple       cripps_pink   170    7.6     7.9         0.88
24            3     orange     spanish_jumbo   342    9.0     9.4         0.75
25            3     orange     spanish_jumbo   356    9.2     9.2         0.75
26            3     orange     spanish_jumbo   362    9.6     9.2         0.74
27            3     orange  selected_seconds   204    7.5     9.2         0.77
28            3     orange  selected_seconds   140    6.7     7.1         0.72
29            3     orange  selected_seconds   160    7.0     7.4         0.81
30            3     orange  selected_seconds   158    7.1     7.5         0.79
31            3     orange  selected_seconds   210    7.8     8.0         0.82
32            3     orange  selected_seconds   164    7.2     7.0         0.80
33            3     orange      turkey_navel   190    7.5     8.1         0.74
34            3     orange      turkey_navel   142    7.6     7.8         0.75
35            3     orange      turkey_navel   150    7.1     7.9         0.75
36            3     orange      turkey_navel   160    7.1     7.6         0.76
37            3     orange      turkey_navel   154    7.3     7.3         0.79
38            3     orange      turkey_navel   158    7.2     7.8         0.77
39            3     orange      turkey_navel   144    6.8     7.4         0.75
40            3     orange      turkey_navel   154    7.1     7.5         0.78
41            3     orange      turkey_navel   180    7.6     8.2         0.79
42            3     orange      turkey_navel   154    7.2     7.2         0.82
43            4      lemon    spanish_belsan   194    7.2    10.3         0.70
44            4      lemon    spanish_belsan   200    7.3    10.5         0.72
45            4      lemon    spanish_belsan   186    7.2     9.2         0.72
46            4      lemon    spanish_belsan   216    7.3    10.2         0.71
47            4      lemon    spanish_belsan   196    7.3     9.7         0.72
48            4      lemon    spanish_belsan   174    7.3    10.1         0.72
49            4      lemon           unknown   132    5.8     8.7         0.73
50            4      lemon           unknown   130    6.0     8.2         0.71
51            4      lemon           unknown   116    6.0     7.5         0.72
52            4      lemon           unknown   118    5.9     8.0         0.72
53            4      lemon           unknown   120    6.0     8.4         0.74
54            4      lemon           unknown   116    6.1     8.5         0.71
55            4      lemon           unknown   116    6.3     7.7         0.72
56            4      lemon           unknown   116    5.9     8.1         0.73
57            4      lemon           unknown   152    6.5     8.5         0.72
58            4      lemon           unknown   118    6.1     8.1         0.70

In [3]:
#checking how many unique fruit names are present in the dataset
df['fruit_name'].value_counts()

orange      19
apple       19
lemon       16
mandarin     5
Name: fruit_name, dtype: int64

In [4]:
x=df.iloc[:,3:6]
y=df.iloc[:,0:1]
print(x,y)

    mass  width  height
0    192    8.4     7.3
1    180    8.0     6.8
2    176    7.4     7.2
3     86    6.2     4.7
4     84    6.0     4.6
5     80    5.8     4.3
6     80    5.9     4.3
7     76    5.8     4.0
8    178    7.1     7.8
9    172    7.4     7.0
10   166    6.9     7.3
11   172    7.1     7.6
12   154    7.0     7.1
13   164    7.3     7.7
14   152    7.6     7.3
15   156    7.7     7.1
16   156    7.6     7.5
17   168    7.5     7.6
18   162    7.5     7.1
19   162    7.4     7.2
20   160    7.5     7.5
21   156    7.4     7.4
22   140    7.3     7.1
23   170    7.6     7.9
24   342    9.0     9.4
25   356    9.2     9.2
26   362    9.6     9.2
27   204    7.5     9.2
28   140    6.7     7.1
29   160    7.0     7.4
30   158    7.1     7.5
31   210    7.8     8.0
32   164    7.2     7.0
33   190    7.5     8.1
34   142    7.6     7.8
35   150    7.1     7.9
36   160    7.1     7.6
37   154    7.3     7.3
38   158    7.2     7.8
39   144    6.8     7.4
40   154    7.1     7.5
41   180    7.6     8.2
42   154    7.2     7.2
43   194    7.2    10.3
44   200    7.3    10.5
45   186    7.2     9.2
46   216    7.3    10.2
47   196    7.3     9.7
48   174    7.3    10.1
49   132    5.8     8.7
50   130    6.0     8.2
51   116    6.0     7.5
52   118    5.9     8.0
53   120    6.0     8.4
54   116    6.1     8.5
55   116    6.3     7.7
56   116    5.9     8.1
57   152    6.5     8.5
58   118    6.1     8.1     fruit_label
0             1
1             1
2             1
3             2
4             2
5             2
6             2
7             2
8             1
9             1
10            1
11            1
12            1
13            1
14            1
15            1
16            1
17            1
18            1
19            1
20            1
21            1
22            1
23            1
24            3
25            3
26            3
27            3
28            3
29            3
30            3
31            3
32            3
33            3
34            3
35            3
36            3
37            3
38            3
39            3
40            3
41            3
42            3
43            4
44            4
45            4
46            4
47            4
48            4
49            4
50            4
51            4
52            4
53            4
54            4
55            4
56            4
57            4
58            4

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80,random_state=10)
print(x_train.shape,y_train.shape,x_test.shape,y_test.shape)

(47, 3) (47, 1) (12, 3) (12, 1)

In [6]:
x_train.describe()

             mass      width     height
count   47.000000  47.000000  47.000000
mean   157.957447   7.017021   7.646809
std     51.351287   0.806851   1.374749
min     76.000000   5.800000   4.000000
25%    131.000000   6.200000   7.150000
50%    156.000000   7.200000   7.500000
75%    173.000000   7.450000   8.200000
max    356.000000   9.200000  10.500000

In [7]:
x_test.describe()

             mass      width     height
count   12.000000  12.000000  12.000000
mean   183.333333   7.450000   7.875000
std     66.136681   0.796013   1.348484
min     86.000000   6.200000   4.700000
25%    154.500000   7.175000   7.400000
50%    169.000000   7.400000   7.850000
75%    205.500000   7.525000   8.300000
max    362.000000   9.600000  10.200000

In [8]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=2)

knn.fit(x_train,y_train)

C:\PerfLogs\ANACONDA 3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [9]:
#prediction
y_pred=knn.predict(x_test)
y_pred

array([4, 2, 3, 4, 1, 1, 4, 1, 1, 3, 1, 3], dtype=int64)

In [10]:
from sklearn.metrics import confusion_matrix
c_m=confusion_matrix(y_test,y_pred)
c_m

array([[4, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 0, 3, 2],
       [0, 0, 0, 1]], dtype=int64)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.75

In [14]:
#example1 parameters of following function are mass,width and height
y1=knn.predict([['100','6.3','8']])
y1[0]

C:\PerfLogs\ANACONDA 3\lib\site-packages\sklearn\neighbors\_classification.py:171: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')
C:\PerfLogs\ANACONDA 3\lib\site-packages\sklearn\neighbors\_base.py:604: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')

4

In [15]:
y2=knn.predict([['170','7.5','9']])
y2[0] # zero means label fruits type 1,2,3 other error

C:\PerfLogs\ANACONDA 3\lib\site-packages\sklearn\neighbors\_classification.py:171: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')
C:\PerfLogs\ANACONDA 3\lib\site-packages\sklearn\neighbors\_base.py:604: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')

1