Name: Prashant Sanjay Sonar

Employee ID: AIS028

Q1  
ans:  A variable is a named location used to store data in the memory. 
       For example, n=10 Here, 
       we have created a variable named number. We have assigned the value 10 to the variable.
       
   Rules:-    A variable name must start with a letter or underscore character.
          A variable name can't start with a number.
          A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
          Variable names are case-sensitive (age, Age and AGE are three different variables)

Q2

Ans: Primitive Types are the most basic data structures.
     Python has four primitive types: integers, floats, booleans and strings.

Q3

Ans: Simply, a mutable object can be changed after it is created, and an immutable object can't. 
   
   Objects of built-in types such as (int, float, bool, str, tuple, unicode) are immutable data type in python.

Q4

Using Count() Function

Q5

Relational Operator	Meaning
<    Less than
>    Greater than
>=   Greater than or equal to
<=   Less than or equal to
==   Equals
!=   Not equal to

Q6

Ans: float(5)=5.0

     10>="9" = Type Error 
     
     10**2   = 100
     
     len ("basic python")=  12

Q7

An input device sends information to a computer system for processing, 
and an output device  displays the results of that processing. 

Python Output Used print() function

Q8
 
Ans:

In [11]:
#integer into float,string
a=55
b=float(a)
display(b,type(b))

c=55
d=str(c)
display(d,type(d))

55.0

float

'55'

str

In [13]:
#float into int,string
a=55.5
b=int(a)
display(b,type(b))

c=55.5
d=str(c)
display(d,type(d))

55

int

'55.5'

str

In [14]:
#string to int,float
a='55'
b=int(a)
display(b,type(b))

c='55'
d=float(c)
display(d,type(d))

55

int

55.0

float

Q9

Yes

Q10
Ans:

In [17]:
 

num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

# Add two numbers
sum = float(num1) + float(num2)

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 10
Enter second number: 20.5
The sum of 10 and 20.5 is 30.5

In [18]:
# Q11


# adds two numbers
def add(x, y):
    return x + y

# subtracts two numbers
def subtract(x, y):
    return x - y

# multiplies two numbers
def multiply(x, y):
    return x * y

#  divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide

In [19]:
# Q12
x = 5
y = 5
a = 'Hello'
b = 'Hello'

print(x is not y)


print(a is a)

False
True

In [20]:
# Q13
print('apple' != 'apple')
print('apple' == 'Apple')

False
False

In [23]:
# Q 14
x=y=z=13
display(x,y,z)

13

13

13

Q15

hex() function in Python to find the address of a variable.

In [27]:
var1 = 2.60
print(hex(id(var1)))

0x4d8fe70

Q16

Python is a widely used general-purpose, high level programming language. 
It was created by Guido van Rossum in 1991 and further developed by the Python Software Foundation.
It was designed with an emphasis on code readability, 
and its syntax allows programmers to express their concepts in fewer lines of code.