Name : Prashant Sanjay Sonar

Employee ID : AIS028

In [1]:
#Q1. Create a tuple to display the values of a tuple using for loop?

tuple1=(1,2,34,43,22)
for i in tuple1:
    print(i)

In [2]:
# Q2 
i =100
while i <= 121:
    print(i)
    i+=2

In [3]:
#Q3. Write a python program to display numbers from 10 to 1 in decreasing order using for loop?

for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [4]:
# Q4. Write a python program to display numbers from 11 to 15 using continue statement?

val=[11,12,13,14,15]
for i in val:
    if i==16:
        continue
    print(i)


for i in range(11,16,1):
    if i==16:
        continue
    print(i,end=' ')

11
12
13
14
15
11 12 13 14 15

In [5]:
# Q5. Write a function add () to find sum of two numbers?
def add(a,b):
    return a+b
print(add(10,15))

25

In [6]:
# Q6. Write a function multi () to find multiplication of two numbers using return statement?

def multi(a,b):
    return a*b
print(multi(5,4))

20

In [7]:
# Q7. Write a python program to print numbers in list which are greater than 50? Where,

list1=[12,55,9,30,47,56,23,60,75]
#print(x > 50 for x in list1)
for i in list1:
    print(i>50,end=' ')

False True False False False True False True True

In [8]:
# Q8   #Write a function max () that returns a maximum of two number?

def max_of_two( x, y ):
    if x > y:
        return x
    return y
print(max_of_two(14,15))

15

 Q9. Write a function divisible () that takes number
1. If number is divisible by 3, it should return "yes"
2. If number is divisible by 5, it should return "no"
3. If number is divisible by both 3 and 5, it should return "yesno"
4. Otherwise it should return "notdivisible"

In [9]:
def multiple(m, n):
    return "yes" if m % n == 0 else "NO"

print(multiple(20, 3))
print(multiple(10, 5))

NO
yes

In [10]:
# Q10. Write a function called stars (rows). If rows is 4, it should print the following?

n=int(input('enter n value:'))
for i in range(n):
    print('* '*(i+1))

enter n value:4
*
* *
* * *
* * * *