Name: Prashant Sanjay Sonar
    
Employee ID : AIS028

Q1 : What is tuples?

Ans:
A tuple is an immutable sequence of Python objects. A tuple in Python is similar to a list.he difference between the two is that we cannot change the elements of a tuple once it is assigned where as we can change the elements of a list.
Put these comma-separated values between parentheses also.
For example âˆ’ tup1 = ('physics', 'chemistry', 1997, 2000)

Q2. What is difference between list and tuple?

Ans:
The main difference between lists and tuples is the fact that lists are mutable whereas tuples are immutable.

A mutable data type means that a python object of this type can be modified. An immutable object can't.

Q3. What is the result of range (1, 12, 2)?
 
o/p is range(1,12,2) but using loop or another trasformations using proper o/p is [1,3,5,7,9,11]

In [2]:
range(1,12,2)  # last values are excluded 
 # range and arange fun same
    
import numpy as np
np.arange(1,12,2)

array([ 1,  3,  5,  7,  9, 11])

Q4. Assuming a= [10, 20, 30, 40, 50]
   1. Find length of a list?
   2. Find maximum and minimum number of a list

In [2]:
#Ans:

a= [10, 20, 30, 40, 50]
display(len(a),  max(a),  min(a))

5

50

10

In [3]:
#   Q5. If x=(1,2,3,4,5,1,3,1) then what is the result of x*2 and x.count(1)?

x=(1,2,3,4,5,1,3,1)
x*2

(1, 2, 3, 4, 5, 1, 3, 1, 1, 2, 3, 4, 5, 1, 3, 1)

In [4]:
x.count(1)

3

In [5]:
# Q6 Create a list of colors name and then print first and last color name of the list using slicing?

b=['green','yello','red','blue','black']
print(b[0],b[-1])

green black

 Q7  If list = [1,4,7,'a','c',"rat","mat",4,6,4] then add element 12 using append method and
                 remove rat element using remove method in the given list?#

In [6]:
list = [1,4,7,'a','c',"rat","mat",4,6,4]
list.append(12)
list

[1, 4, 7, 'a', 'c', 'rat', 'mat', 4, 6, 4, 12]

In [7]:
list.remove("rat")
print(list)

[1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]

In [8]:
#Q8 Create two list and concatenate them and then repeat 1st list 3 times?

a=[1,2,3,4,5]
b=[6,7,8,9,10]
print(a+b)

#
import numpy as np
np.concatenate((a,b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [9]:
#Q9 9. Create a tuple of fruits name and then access first 4 elements from the tuple?

x=('mango','banana','graps','apple','Guava','straberray')
x[0:4]

('mango', 'banana', 'graps', 'apple')

In [10]:
#  Q10 .Create a list using range function and then convert this list into tuple using tuple function?

z=[range(1,12,2)]
print(z)
tuple(z)

[range(1, 12, 2)]

(range(1, 12, 2),)

In [11]:
# Q11. Create a tuple using eval function and then obtained the length of tuple?

tuple1 = "1, -5, 4, 6, 7"
res = eval(tuple1) 
display(res,len(res))

(1, -5, 4, 6, 7)

5

In [12]:
#Q12. Create a tuple of integer number and then sort the elements of tuple?

tuple2=(10,2,6,70,43)
sorted(tuple2)

[2, 6, 10, 43, 70]

In [13]:
#13. Create a list of colors name and then insert purple color on 3rd position using insert method?

z=['red','green','yellow','white','black']
z.insert(2,'purple')
z

['red', 'green', 'purple', 'yellow', 'white', 'black']

In [14]:
# Q14. If x= (50, 60, 70, 80, 90, (200,100)) then access 200,100 from the tuple?

x= (50, 60, 70, 80, 90, (200,100))
x[-1]

(200, 100)

In [15]:
 # Q15 Create a nested tuple and nested list?
  #means : tuple under tuple and list under list is called nested tuple/list  
# nested list
n_list = ["mouse", [8, 4, 6], ['a']]

#nested tuples
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

display(n_list,n_tuple)

['mouse', [8, 4, 6], ['a']]

('mouse', [8, 4, 6], (1, 2, 3))